{% extends "base.html" %}

{% block page_title %}
{{ room.name }}

{% endblock page_title %}

{% block content %}

   <div class=" overflow-hidden -mt-4 container max-w-full h-75vh mb-20 flex">
      <div class="h-full w-1/2 bg-cover border border-gray-500 room-photo hover:shadow-lg" style="background-image: url({{room.first_photo}});">
      </div>
      <div class="h-full w-1/2 flex flex-wrap">
            {% for photo in room.get_next_four_photos %}
               <div class="w-1/2 h-auto bg-cover bg-center border border-gray-500 room-photo hover:shadow-lg" style="background-image: url({{photo.file.url}});"></div>
            {% endfor %}
      </div>
   

   </div>
{% endblock content %}                      dz