@tailwind base;
@tailwind components;
@tailwind utilities;


.search-box{
    transition: box-shadow 0.2s linear;
    width: 26rem;
};
.room-photo{
    transition: box-shadow 0.2s linear;
    &:hover{
        transform:scale(1.03);
        transition: transform 0.2s;
    }
};
.nav_link{
    @apply flex items-center ml-8 h-full border-b-2 border-transparent;
    a{
        @apply py-8 px-2;
    }
    &:hover{
        @apply border-gray-800;
    }
};


.btn{
    @apply w-full rounded-sm py-5 font-bold text-xl mb-2 text-center;
    &:hover{
        @apply shadow-md;
    }
};

.btn-link{
    @apply w-full py-3 rounded-lg font-bold text-xl mb-2 text-center bg-red-500 text-white;
    &:hover{
        @apply shadow-md;
    }
};

.btn-link-edit{
    @apply w-full py-3 rounded-lg font-bold text-xl mb-2 text-center bg-teal-500 text-white;
    &:hover{
        @apply shadow-md;
    }
};

.search-input{
    @apply rounded-sm py-3 font-light text-lg w-full text-left border border-gray-600 px-5 mt-1 mb-1;
    &:hover{
        @apply border-teal-500;
    }
    &:focus{
        outline: none;
    }
};



.update-profile, .change-password, .update-room, .update-photo, .upload-photo, .hosting-room{
    input,
    textarea,
    select {
        @apply rounded-sm py-5 font-light text-lg w-full text-left border border-gray-600 px-5 mt-2;
        &:focus {
            @apply outline-none border-teal-500 bg-white;
        }
    }
    textarea {
        resize: none;
        height: 7rem;
      }
};

form {
    .input {
      @apply mb-3 ;
      &.has_error {        
        div{
            @apply bg-red-200 border-gray-400;
        }
        input {
            @apply bg-red-200 border-gray-400;
            }
        }
      } 
};



@keyframes messageFadeIn{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    15%{
        opacity: 1;
        transform: translateY(50px);
    }
    
    95%{
        opacity: 1;
        transform: translateY(50px);
    }
    100%{
        opacity: 0;
        transform: translateY(-50px);
    }
};

.message{
    animation: messageFadeIn 3.5s ease-in-out forwards;
    &.error{
        @apply bg-red-600;
    }
    &.debug{
        @apply bg-gray-600;
    }
    &.info{
        @apply bg-blue-500;
    }
    &.success{
        @apply bg-green-500;
    }
    &.warning{
        @apply bg-yellow-500;
    }
};


.border-section{
    @apply border-b border-gray-400 pb-8 mt-8; 
};


ul{
    @apply rounded-sm py-3 font-light text-left px-5 mt-1 mb-1;
    li { 
        label {
            input {
            }
        }
    }
};


.cal-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    justify-items: center;
};





