@tailwind base;
@tailwind components;
@tailwind utilities;


.search-box{
    transition: box-shadow 0.2s linear;
    width: 26rem;
};


.nav_link{
    @apply flex items-center ml-8 h-full border-b-2 border-transparent;
    a{
        @apply py-8 px-2;
    }
    &:hover{
        @apply border-gray-800;
    }
};


.btn{
    @apply w-full rounded-sm py-5 font-bold text-xl mb-2 text-center;
    &:hover{
        @apply shadow-md;
    }
};

.btn-link{
    @apply w-full py-3 rounded-lg font-bold text-xl mb-2 text-center bg-red-500 text-white;
    &:hover{
        @apply shadow-md;
    }
};


form {
    .input {
      @apply mb-3;
      &.has_error {        
        div{
            @apply bg-red-200 border-gray-400;
        }
        input {
            @apply bg-red-200 border-gray-400;
            }
        }
      } 
};


@keyframes messageFadeIn{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    15%{
        opacity: 1;
        transform: translateY(50px);
    }
    
    95%{
        opacity: 1;
        transform: translateY(50px);
    }
    100%{
        opacity: 0;
        transform: translateY(-50px);
    }
}

.message{
    animation: messageFadeIn 3.5s ease-in-out forwards;
    &.error{
        @apply bg-red-600;
    }
    &.debug{
        @apply bg-gray-600;
    }
    &.info{
        @apply bg-blue-500;
    }
    &.success{
        @apply bg-green-500;
    }
    &.warning{
        @apply bg-yellow-500;
    }
}